/* Global Styles */
body {
    background-color: #333;
    color: #f8f8f8;
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Wrapper Styles */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
}

/* Header Styles */
.site-header {
    background-color: #222;
    padding: 20px 0;
}

.site-header .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Aligns items to the start (left) */
}

.site-logo img {
    height: 60px;
    /* Adjust this value to scale the logo */
    width: auto;
    /* Maintains the aspect ratio */
    margin-right: 40px;
    /* Increase the space between the logo and the title */
}

.site-title {
    flex-grow: 1;
    color: #fff;
    margin: 0;
    font-size: 1.0em;
    /* Example size, adjust as needed */
}

/* Adjusts navigation to appear as tabs aligned to the left */
.site-nav {
    display: flex;
    justify-content: flex-end;
    /* Aligns navigation to the right */
    width: 100%;
    /* Ensures nav takes up full width of its container */
}

.site-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: transparent;
    /* Removes background color for the nav bar */
    border-radius: 0;
    /* Removes rounded corners for the nav bar */
    gap: 0px;
    /* Reduces the space between navigation items */
}

.site-nav li {
    margin-right: 5px;
}

.site-nav li:last-child {
    margin-right: 0;
}

.site-nav a {
    color: #f8f8f8;
    padding: 10px 15px;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background-color: #1e90ff;
    border-radius: 5px;
    text-decoration: underline;
}

/* Footer Styles */
.site-footer {
    text-align: center;
    background-color: #222;
    padding: 20px 0;
}

.site-footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li {
    margin: 0;
}

.footer-links,
.footer-links a {
    color: #f8f8f8;
}

/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #f8f8f8;
}

h1 {
    font-size: 2em;
}

/* Additional Footer Info Styles */
.site-footer .additional-info {
    margin-top: 20px;
    color: #aaa;
    /* Lighter text color for copyright and additional info */
}

.nav-trigger {
    display: none;
    /* Ensures the checkbox is not visible */
}

/* Add this to your CSS file */
.testimonial-box {
    color: black;
    /* Ensures text is visible */
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* Adds space between boxes */
}