<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }}</title>
    <!-- Link to your main stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
    <!-- Add other head elements like favicon links and meta tags here -->
</head>

<body>
    {% include header.html %}

    <main class="site-main">
        <div class="wrapper">
            {{ content }} <!-- This is where the content of your Markdown files will be inserted -->
        </div>
    </main>

    {% include footer.html %}
</body>

</html>